body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.result-box-container {
  /* display: flex; */
}

.noWhiteSpace {
  padding-top: 0px;
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 98% !important;
  }
  h2 {
    font-size: 3rem !important;
  }
}

.createQuestionInput {
  text-align: center;
  font-size: 30px !important;
}

.aAds-big {
  width: 728px;
  height: 90px;
  border: 0px;
  padding: 0;
  overflow: hidden
}

.aAds-small {
  width: 320px;
  height: 50px;
  border: 0px;
  padding: 0;
  overflow: hidden
}

.aAds-med {
  width: 468px;
  height: 60px;
  border: 0px;
  padding: 0;
  overflow: hidden
}

.nameTag {
  margin: .75rem !important;
}

.tabs-content.carousel {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tabs-content.carousel .carousel-item {
  width: 100%;
  height: 100%;
}

.tabs-content.carousel::-webkit-scrollbar {
  display: none;
}

.tabs .tab a {
  color: #000 !important;
}

/*Black color to the text*/

.tabs .tab a:hover {
  background-color: #eee;
  color: #000;
}

/*Text color on hover*/

.tabs .tab a.active {
  background-color: #bbdefb !important;
  color: #000 !important;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: #64B5F6 !important;
}

/*Color of underline*/

.yuiBlue {
  background-color: #08708aff !important;
}

.yuiLightBlue {
  background-color: #56b1bfff !important;
}

.yuiLighterBlue {
  background-color: #cae5e9ff !important;
}